.current-weather {
    background-color: var(--blue-2);
    width: var(--w-search-bar);
    height: 100vh;
    background-image: url("../images/Cloud-background.png");
    background-repeat: no-repeat;
    background-size: 125%;
    background-blend-mode: soft-light;
    background-position: 50% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.current-weather > p.temperature {
    font-weight: 500;
    font-size: 144px;
    color: var(--gray-6);
    margin-top: 25px;
}
.current-weather > p.temperature > span:last-child {
    font-size: 36px;
    color: var(--gray-5);
    font-weight: 500;
    font-family: Raleway;
}
.current-weather > p.weather-state {
    font-weight: 600;
    font-size: 36px;
    color: var(--gray-5);
    margin-top: 45px;
}
.current-weather > p.day {
    font-weight: 500;
    font-size: 18px;
    color: var(--gray-4);
    margin-top: 45px;
}
.current-weather > p.location {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: var(--gray-4);
    font-size: 18px;
    font-weight: 600;
}
.current-weather .search-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}
.current-weather .location-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
