:root {
    --gray-1: #333333;
    --gray-2: #616475;
    --gray-3: #6e707a;
    --gray-4: #88869d;
    --gray-5: #a09fb1;
    --gray-6: #e7e7eb;
    --blue-1: #100e1d;
    --blue-1-1: #110e3c;
    --blue-2: #1e213a;
    --blue-2-2: #171b3d;
    --blue-3: #585676;
    --blue-4: #514e7d;
    --blue-5: #3c47e9;
    --yellow: #ffec65;

    --w-search-bar: 400px;
}

body {
    font-family: Raleway;
    color: var(--gray-6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: Raleway;
    border: none;
    color: var(--gray-6);
    cursor: pointer;
}

button:focus {
    outline: none;
}

#root {
    display: flex;
    height: 100vh;
}
